@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font definitions are in public/index.html to avoid build path issues */

body {
  margin: 0;
  font-family: "Galano Grotesque Alt", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} 